*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: linear-gradient( to top, #eea84d, #fff3b0, transparent);
   
}

p {
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav {
    padding-top: 1rem;
    width: 100%;
    height: 90px;
    background: linear-gradient(45deg,#00bbf9,#bdf2ff);
    color: #dcdfef;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1000;
}

/* icono menu responsive*/
#logo > .burger{
    font-size: 50px;
    border: none;
    background: none;
    color: #541690;
    cursor: pointer;
    padding-left: 20px;
    display: none;
}
#logo > .burger:active{
    color: #ffffff;
}
/* boton */
.buscar{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 18px;
    margin-right: 15px;
    align-items: center;
    background: #56cfe1;
    padding: 10px;
    height: 50px;
    border-radius: 40px;
    transition: .3s;
}
.buscar input:focus {
    width: 100%;
    transition: .3s;
}

/* input */
.buscar_texto::placeholder{
    color: rgba(0, 0, 0, 0.466);
}
.buscar_texto:focus::placeholder{
    color: #fff;
}
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
}
.btn_buscar{
    width: 32px;
    height: 38px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: .3s;
}
.buscar:hover > .buscar_texto{
    width: 100%;
    transition: .3s;
}

@media screen and (max-width: 1200px) {
    .buscar{
        margin-left: 101px;
        margin-right: 90px;
    }
}

.submenu {
    margin-right: 15vw;
    position: relative;
}

ul {
    list-style-type: none;
}

.submenu #carrito {
    margin-top: 10px;
    padding: 20px 0 20px 0;
    display:none;
    position: absolute;
    background: linear-gradient( to top, #ff434372, #b8fb4c9b,  transparent);
    color: #fafafaff;
    font-size: 1.3rem;
}

.submenu:hover #carrito {
    display:block;
    position: absolute;
}

#logo {
    margin:0;   
    width: 180px;
    left: 6%;
    border: white;
    border-radius: 20px;
    position: fixed;
    z-index: 5;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 179.546px;
    filter: drop-shadow(rgba(2, 6, 71, 0.952) 0px 10px 15px);
}
/* hero */
.hero {
    width: 100%;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    color: #dcdfef;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-top: 26%;
    margin-left: 20%;
}

/* article */

.banner-hero {
    position: relative;
    font-size: 0;
}
.banner-hero video {
    transition: opacity 500ms;
    opacity: 0.4;
}

.banner-hero .box-banner-title {
    position: absolute;
    z-index: 0;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    z-index: 2;
}
.banner-hero .box-banner-title .title1 {
    font-weight: 200px;
    font-size: 42px;
    width: 420px;
}
.banner-hero p {
    color: rgb(169, 30, 153);
    text-align: center;
    width: 100px;
    font-weight:Bold;
    font-size: 13px;
}
.banner-hero .box-banner-title .descrp1 {
    font-size: 57px;
    width: 650px;
    color: rgb(10, 10, 10);
}
.banner-hero .bounce {
    position: absolute;
    z-index: 0;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.banner-hero .bounce p {
    font-size: 18px;
    color: rgb(10, 10, 10);
} 
.banner-hero a {
    color: white;
    text-decoration: none;
}

.banner-hero .arrow {
    text-align: center;
    margin: 0 0;
    width: 40px;
}

.banner-hero .fa img {
    width: 40px;
    height: auto;
    filter: drop-shadow(rgb(3, 3, 3) 0px 10px 15px);
}
/* Section Products */

.text-center {
    width: 100%;
    display: flex;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.object-product {
    height: 150px;
    width: 100%;
}

.text-center h1 {
    position: absolute;
    text-transform: uppercase;
    color: #dcdfef;
    font-weight: 800;
    font-size: 4rem;
    margin-top: 4%;
    left: 25%;
    font-weight: 600;
    font-size: 28px;
}

.container {
    margin-top: 50px;
}
.rebajado {
    text-decoration: line-through;
    color: #dcdfef;
}

.full {
    font-weight: holder;
    color: #0353a4;
}

.card-subtitle {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    text-align: center;
}
/* Overlay */ 
/* Star overlay */
.overlay, .overlay2 {    
    opacity: 1;
	position: fixed;
    z-index: 2000;
    height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    display: flex;
	align-items: center;
	justify-content: center;
    visibility: hidden; 
}

.overlay.active {
	visibility: visible;
}
	
.popup {
	background: #F8F8F8;
    transform: rotateY(0deg) rotateX(0deg) scale(1.3);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
 	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    color: #000!important;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover{
	color: #000;
} 

/* Animaciones Overlay */
.popup.active {	transform: scale(1); opacity: 1; }

.product-units {
    color: #1428BF;
    font-size: 14px;

}

.ver {
    text-align: center;
    font-size: 1.2em;
}

.ver a:active,.ver a:focus,.ver a:hover
{
  color:#cc33ba;
  text-decoration:none;
}
/* start footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 100px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.copyright-img1 {
    width: 90px;
    margin-right: 15px;
}

.copyright-img2 {
    width: 250px;
    margin-right: 15px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    margin-left: 0px;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* finish footer */
